.main-menu.main-menu--closed,
.main-menu.main-menu--nojs {
  .main-menu {
    &__list {
      display: flex;
    }

    &__toggle {
      display: none;

      left: 32px;
      position: absolute;
      top: 37px;
      right: 0;
      z-index: 2;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      display: none;
      border: 1px solid transparent;

      @media (max-width: $ds) {
        display: block;
      }

      @media (max-width: $tb) {
        left: 1px;
        top: 19px;
      }

      span {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        border: 1px solid $black;
        outline: 1px solid transparent;
      }

      &::before {
        content: "";
        position: absolute;
        top: 17px;
        left: 13px;
        width: 24px;
        height: 2px;
        background-color: $black;
        box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
      }

      &:active::before {
        background-color: rgb(0, 0, 0);
        box-shadow: 0 8px 0 0 rgb(0, 0, 0),
          0 16px 0 0 rgb(0, 0, 0);
      }
    }
  }

  .main-nav {
    min-width: 280px;
    margin: 0 auto;

    &__list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      flex-wrap: wrap;
    }

    &__link {
      text-decoration: none;
      color: $black;

      &:hover {
        opacity: 0.9;
        transition: 0.3s ease;
      }
    }
  }

  .main-header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      flex-wrap: wrap;
    }

    &__inner.menu-none {
      @media (max-width: $ds) {
        display: none;
      }
    }

    &__content-wrapper {
      background-color: $aliceblue;
      min-width: 100%;
    }

    &__inner-wrapper {
      min-height: 100px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__link {
      width: min-content;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      svg {
        width: 30px;
        height: 30px;
        border: 1px solid $black;
        border-radius: 50%;

        &:hover {
          opacity: 0.9;
          transition: 0.3s ease;
        }
      }

      &:hover {
        opacity: 0.4;
        transition: 0.3s ease;
      }
    }
  }

  .link-phone {
    display: flex;
    width: min-content;
    height: min-content;

    &__text {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin-left: 10px;
      margin-top: -5px;

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
}

.main-menu.main-menu--opened {

  .main-header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      flex-wrap: wrap;
    }

    &__inner.menu-none {
      @media (max-width: $ds) {
        display: none;
      }
    }

    &__content-wrapper {
      background-color: $aliceblue;
      min-width: 100%;
    }

    &__inner-wrapper {
      min-height: 100px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &__link {
      width: min-content;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      svg {
        width: 30px;
        height: 30px;
        border: 1px solid $black;
        border-radius: 50%;

        &:hover {
          opacity: 0.9;
          transition: 0.3s ease;
        }
      }

      &:hover {
        opacity: 0.4;
        transition: 0.3s ease;
      }
    }
  }

  .link-phone {
    display: flex;
    width: min-content;
    height: min-content;

    &__text {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin-left: 10px;
      margin-top: -5px;

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
