.main-menu.main-menu--closed,
.main-menu.main-menu--nojs {
  .main-menu {
    &__list {
      display: flex;
    }
  }

  .main-nav {
    min-width: inherit;

    &__list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

    }

    &__link {
      text-decoration: none;
      color: $black;

      &:hover {
        opacity: 0.9;
        transition: 0.3s ease;
      }
    }
  }

  .main-header {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    }
  }

  .social {
    display: flex;
    align-items: center;

    &__link {
      width: min-content;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      svg {
        width: 30px;
        height: 30px;
        border: 1px solid $black;
        border-radius: 50%;

        &:hover {
          opacity: 0.9;
          transition: 0.3s ease;
        }
      }

      &:hover {
        opacity: 0.4;
        transition: 0.3s ease;
      }
    }
  }

  .link-phone {
    display: flex;
    width: min-content;
    height: min-content;

    &__text {
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;
    }
  }

}





