//breakpoints
$sm: 320px;
$tb: 767px;
$ds: 1024px;

// colors
$black: black;
$white: white;
$red: red;
$green: green;

$basicorange: #f5b400;
$basicblue: #342ee4;
$basicblue1:rgb(133, 129, 247);
$basicgreen: #2d8763;
